.portfolio {
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(230, 230, 233);
}

.portfolio__section > h2 {
    margin-top: 3rem;
    font-size: 1.2rem;
    color: rgb(136, 130, 130);
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

.portfolio__works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 1rem;
}

.portfolio__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

.portfolio__item > a {
    position: relative;
    height: 9rem;
}

.portfolio__item > a > img {
    height: 9rem;
    width: 13rem;
    object-fit: cover;
}

.portfolio__itemOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.portfolio__itemOverlay > h5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    border-bottom: 1px solid white;
    width: 90%;
    margin-bottom: 1rem;
}

.portfolio__itemOverlay > p {
    font-family: Roboto;
    font-size: 0.8rem;
}

.portfolio__itemOverlay:hover {
    opacity: 0.7;
    background-color: rgb(49, 49, 49);
}